.card-afaq-health-education {
    position: relative;
    width: 64%;
    /* margin: 100px auto 0 auto; */
    margin: 0px auto 0 auto;
    padding-top: 150px;
}

.afaq-bg-img {
    width: 400px;
    height: 120px;
    margin: 10px auto 20px auto;
}

.afaq-bg-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.afaq-health-education {
    position: relative;
    border: 3px solid #CBCBCB;
    border-top: 10px solid #0E4C75;
    border-radius: 4px;
    padding: 30px;
}

.afaq-health-education strong {
    font-size: 35px;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}

.afaq-health-education strong em {
    color: #88BD2F;
    text-transform: uppercase;
    font-weight: bold;
}

.afaq-health-education p,
.health-education-details span {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.health-education-details ul {
    padding: 0;
    list-style: none;
    margin: 20px 0 5px 0;
}

.health-education-details ul li {
    padding: 5px 0px;
    font-size: 14px;
    color: #0E4C75;
    font-weight: bold;
}

.health-education-details ul li i {
    font-size: 12px;
}

.afaq-form-education {
    position: relative;
    margin: 40px 0;
}
.iti.iti--allow-dropdown.iti--separate-dial-code input#phone {
    direction: initial;
}
.form-education-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-col {
    padding: 10px 0;
    width: 48%;
}

.form-col label {
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Tajawal', sans-serif !important;
}

.form-col input {
    padding:10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CBCBCB;
}

.radio-btn {
    display: flex;
    align-items: center;
    justify-content: start;
}

.radio-btn input#radio-btn {
    width: 30px;
    height: 20px;
    margin: 0;
}

.radio-btn label {
    padding-bottom: 0 !important;
    text-transform: capitalize;
    margin-bottom: 0;
}

.radio-details {
    display: flex;
    align-items: center;
}

.radio-btn:last-child {
    margin: 0 50px;
}

.form-col h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.br-upload button.upload-button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 50px;
}
.br-upload button.upload-button {
    width: 70% !important;
}

.br-upload button.upload-button i {
    margin: 0 10px;
    color: #ffffff;
}

.br-upload button.upload-button {
    border: 2px solid #88BD2F;
    background: #88BD2F;
}

button.upload-button span {
    color: #ffffff !important;
}

.submit-btn {
    position: relative;
    width: 30%;
    margin: 20px auto;
}

.submit-btn button {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(45deg, #0E4C75, #0079CB);
    border: unset;
    border-radius: 25px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
}

.health-education-details ul li u {
    width: 5px;
    display: inline-block;
}
.fileContainer {
    background: #98D03C;
    width: max-content;
    height: 31px;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 0px 20px 0 20px;
    /* margin: 0 auto 60px auto; */
    cursor: pointer !important;
    border-radius: 30px;
}

.fileContainer span {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.fileContainer input[type="file"] {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}
/* ******************************************** */
@media only screen and (max-width: 900px) {
    .card-afaq-health-education {
        width: 90%;
    }

    .form-col {
        width: 100%;
    }

    .afaq-bg-img {
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
}
