/* webkit start */
::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #87BD31;
}

/* webkit end */
/* side menu start */
.lecture_title_side_menu {
    font-weight: bold;
    text-transform: capitalize;
}

.course_content_right_sections a.disabled .lecture_list_item_condition .video_thumbnail_container img.video_thumbnail {
    background-color: #d0d0d0;
}

.course_content_right_sections a.disabled {
    opacity: 0.3;
}

.course_content_right_sections a.active .lecture_list_item_condition .video_thumbnail::before {
    content: '';
    position: absolute;
    border: solid 3px #87BD31;
    width: 60px;
    height: 60px;
    top: -5px;
    left: -5px;
    border-radius: 10px;
}

.rtl .course_content_right_sections a.active .lecture_list_item_condition .video_thumbnail_container::before {
    left: unset;
    right: -5px;
}

.course_content_right_sections a.active .lecture_list_item_condition .video_thumbnail::after {
    content: '';
    position: absolute;
    background-color: #87BD31;
    clip-path: polygon(100% 0, 100% 100%, 0% 50%);
    width: 6px;
    height: 10px;
    top: 21px;
    left: -13px;
}

.rtl .course_content_right_sections a.active .lecture_list_item_condition .video_thumbnail_container::after {
    right: 23px;
    transform: rotate(180deg);
}

.course_content_right_sections .lecture_list_item_condition.not-completed .video_thumbnail_container .complete-percentage-hover {
    position: absolute;
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecture_list_item_condition.not-completed .complete-percentage-hover-top {
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_content_right_sections .lecture_list_item_condition.completed .video_thumbnail_container .complete-percentage-hover {
    position: absolute;
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecture_list_item_condition.completed .complete-percentage-hover-top {
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rtl .course_content_right_sections .lecture_list_item_condition.not-completed .video_thumbnail_container .complete-percentage-hover {
    left: unset;
}

.rtl .course_content_right_sections .lecture_list_item_condition.completed .video_thumbnail_container .complete-percentage-hover {
    left: unset;

}

.course_content_right_sections .video_thumbnail_container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.course_content_right_sections .video_thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 30px 0 15px;
    box-shadow: 1px 1px 3px #c0c0c0;
    background-color: #fff;
    position: relative;
}

.rtl .course_content_right_sections .video_thumbnail {
    margin: 0 40px 0 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.course_content_right_sections .lecture_list_item_condition {
    position: relative;
}


.course_content_right_sections {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.course_content_right_sections .course_content_study_section,
.course_content_right_sections .course_content_lecture_items_section {
    background-color: #fff;
    box-shadow: 1px 1px 10px #ddd;
    border-radius: 10px;
    width: 40%;
}

.course_content_right_sections .course_content_study_section {
    width: 30%;
    margin: 0 10px;
    overflow: hidden;
}

.course_content_right_sections .course_content_study_section .accordion-body {
    padding: 0px;
    border: none;
    max-height: 500px;
    overflow-y: scroll;
    position: relative;
    z-index: 0;
}

.course_content_right_sections .course_content_lecture_items_section {
    flex-grow: 1;
    padding: 10px;
}

.course_content_right_sections .course_content_lecture_items_section .tab-pane.fade {
    flex-grow: 1;
    padding: 10px;
}

.course_content_right_sections .course_content_lecture_items_section .image_container_in_course_content_area {
    height: clamp(200px, 50vw, 500px);
}

.course_content_right_sections .course_content_lecture_items_section .download_link_area_in_course_content .download_inner_continaer {
    height: clamp(200px, 50vw, 300px);
}

.course_content_right_sections .course_content_lecture_items_section .zoom_unavailable_in_course_content {
    /* height: clamp(200px, 50vw, 452px); */
    width: 100%;
    display: flex;
    text-align: center;
}

/* .course_content_right_sections .course_content_lecture_items_section .video_first_container{
    height: clamp(200px, 50vw, 452px);
} */

.course_content_right_sections .course_content_lecture_items_section .main-div.quiz-container {
    height: 500px;
    overflow-y: scroll;
}

.course_content_right_sections .course_content_lecture_items_section .submit-content-container .submit-content {
    width: fit-content;
}

.course_content_right_sections .course_content_lecture_items_section .quiz>li>p {
    font-weight: bold;
    margin-top: 25px;
}

.course_content_left_sections .left_tiny_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course_content_left_sections .left_tiny_header span {
    color: #87BD31;
}

.course_content_left_sections .left_tiny_header span:last-of-type {
    text-align: end;
}

.course_content_left_sections .left_tiny_header h4 {
    position: relative;
}

.course_content_left_sections .left_tiny_header h4::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 75%;
    height: 10px;
    background-color: #88BD2F;
    border-radius: 10px;
}

.rtl .course_content_left_sections .left_tiny_header h4::before {
    left: unset;
    right: 0px;
}

.course_content_right_sections a:not(.active) .lecture_list_item_condition::before {
    content: '';
    position: absolute;
    top: 17px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    /* background-image: url('/nazil/imgs/check.png'); completed course
                                            background-image: url('/nazil/imgs/cancel.png'); not finished course
                                            background-color: #ddd; not opened course */
    background-size: contain;
}

.rtl .course_content_right_sections a:not(.active) .lecture_list_item_condition::before {
    left: unset;
    right: -10px;
}

.course_content_right_sections .lecture_list_item_condition.completed::before {
    background-image: url('/nazil/imgs/check.png');
    /* completed course */
}

.course_content_right_sections .lecture_list_item_condition.not-completed::before {
    background-image: url('/nazil/imgs/cancel.png');
    /* not finished course */
}

.course_content_right_sections .lecture_list_item_condition.not-opened::before {
    background-color: #ddd;
    /* not opened course */
}

.course_content_right_sections .lecture_list_item_condition .video_thumbnail_container>p {
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    margin: 0;
    width: calc(100% - 146px);
}

.course_content_right_sections a.active .lecture_list_item_condition .video_thumbnail_container>p {
    font-weight: 900;
    color: #000;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course_content_right_sections .lecture_list_item_condition.completed .video_thumbnail_container>p {
    color: #777;
}

.course_content_right_sections .lecture_list_item_condition.not-opened .video_thumbnail_container>p,
.course_content_right_sections .lecture_list_item_condition.not-completed .video_thumbnail_container>p {
    font-weight: bold;
}

/* side menu end */
/* questionaire modal start */
.progress_line_parent {
    display: flex;
    flex-direction: row-reverse;
}

.questionaire_button {
    width: 25%;
    text-align: center;
    padding-top: 25px;
}

#exampleModal.show {
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

#exampleModal .modal-dialog {
    margin: 0 auto;
}

#exampleModal .modal-header .close {
    margin: 0;
    padding: 0;
}

#exampleModal .modal-header:before,
#exampleModal .modal-header,
#exampleModal .modal-header:before,
#exampleModal .modal-footer {
    border: none;
}

#exampleModal .modal-header:before,
#exampleModal .modal-header:after {
    content: unset;
}

#exampleModal .modal-header:before,
#exampleModal .modal-footer button {
    background-image: linear-gradient(45deg, #081839, #845097);
    color: #fff;
    font-weight: 500;
    border: unset;
    border-radius: 50px;
}

#exampleModal .modal-header:before,
#exampleModal .modal-body textarea {
    padding: 5px;
    border-radius: 5px;
    border-color: #845097;
    margin: 0 10px;
}

/* questionaire modal end */
/* content start */
.course_title {
    margin-bottom: 30px;
    font-weight: bold;
}

.questionaire_button button,
.questionaire_button button:hover {
    background-color: #88BD2F;
    border: none;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 50px;
    letter-spacing: 0.5px;
}

.lecture_progress_bar {
    margin-bottom: 65px;
    width: 75%;
}

.vjs-matrix.video-js,
.vjs-poster,
.vjs-control-bar,
.video-js .vjs-modal-dialog {
    border-radius: 10px !important;
}

.vjs-matrix.video-js {
    margin-top: -45px !important;
}

.sna_blue_color {
    color: #88BD2F;
}

.lecture_progress_bar .lecture_progress_ratio {
    font-size: 20px;
    margin: 0 10px;
}

.lecture_progress_bar .progress_white_line {
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    margin-top: 15px;
    box-shadow: 0 0 10px #e7e7e7;
}

.lecture_progress_bar .progress_white_line .blue-line {
    position: absolute;
    /* width: 20%; */
    height: 10px;
    background-color: #88BD2F;
    border-radius: 3px;
}

.lecture_progress_bar .progress_bar_percentage {
    color: #87BD31;
}

.course_content_right_sections a.download_file_in_course_content {
    text-align: center;
}

.course_content_right_sections a.download_file_in_course_content div.download_icon {
    color: #88BD2F;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    letter-spacing: 0.5px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.course_content_right_sections a.download_file_in_course_content div.download_text {
    background-color: #88BD2F;
    border: none;
    color: #000;
    padding: 5px 25px;
    border-radius: 50px;
    letter-spacing: 0.5px;
}

.course_content_right_sections .lectures_navigation_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course_content_right_sections .lectures_navigation_buttons .previous {
    padding: 5px;
    background-color: #fff;
    border: solid 2px #88BD2F;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    width: 120px;
}

.course_content_right_sections .lectures_navigation_buttons .next {
    padding: 5px;
    background-color: #88BD2F;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    width: 120px;
    border: none;
}

.course_content_right_sections .lecture_main_title {
    margin: 10px;
    font-weight: bold;
    font-size: 26px;
    text-transform: capitalize;
}

.course_content_right_sections .lecture_main_short_description {
    margin: 10px;
    color: #999999;
}

/* content end */
/* notes section start */
.render-notes {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.notes_section {
    padding: 0;
    border-bottom: solid 1px #ddd;
    margin: 5px 0 15px;
}

.notes_section .notes_section_image {
    position: relative;
}

.notes_section .notes_section_image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    background-color: #4c4c4c40;
}

.rtl .notes_section .notes_section_image::after {
    left: unset;
    right: 0;
}

.notes_section .notes_section_image img {
    height: 80px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.notes_section p {
    font-size: 14px;
    overflow: hidden;
    margin: 15px 0;
    max-height: 100px;
}

.notes_section .notes_actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.notes_section .notes_actions span {
    color: #999999;
    font-size: 14px;
    cursor: pointer;
}

.notes_section {
    cursor: pointer;
}

.title-tape {
    text-align: center;
    margin: 0 0 10px 0;
}

.title-tape span {
    color: #0079CB;
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    padding-top: 0;
}

.title-tape span em {
    color: #979797;
}

.all-qusetions h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.the-answer {
    position: relative;
    display: block;
}

span.answer-option {
    display: flex;
    align-items: center;
    border: 1px solid #CBCBCB;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
}

span.answer-option label {
    font-size: 16px;
    margin: 0 10px;
    color: #000000;
    font-weight: 500;
    width: calc(100% - 30px);
    cursor: pointer;
}

.subment-btn-nxt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subment-btn-nxt span {
    width: 100%;
    margin: 0 5px;
    border: unset;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

span.btn-next {
    background: linear-gradient(94deg, #0E4C75, #0079CB);
    box-shadow: 0px 0px 10px #0079CB3B;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;

}

span.btn-next button {
    background: unset;
    border: unset;
}

span.btn-back {
    text-transform: capitalize;
    border: 1px solid #0271bc;
}

.main-body.snw.sml {
    padding: 0 40px;
}
/* .the-answer input {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid  #CBCBCB;
} */
/* *************** questionaire ************************* */
section.login-page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 9999;
}
.log-in-form {
    position: relative;
    z-index: 9;
}
.login-main.main-body {
    /* width: 25%; */
    /* margin: 5rem auto; */
    padding: 40px 30px;
    border-radius: 24px;
    /* box-shadow: 0px 1px 2px #bcbcbca6; */
    margin-bottom: 0;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    background: #fff;
}
.close-form {
    display: flex;
    justify-content: end;
}
.close-form a {
    color: #000;
}
.img-popup {
    width: 132px;
    height: 147px;
    margin: 0 auto;
}
.img-popup img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.login-main.main-body strong {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}
.login-main.main-body p {
    font-size: 12px;
    color: #00000099;
    text-align: center;
}
.login-main.main-body b {
    display: block;
    width: 100%;
    height: 2px;
    background: #E4E4E4;
    margin: 10px 0;
    border-radius: 10px;
}
button.next-page.successful-btn {
    background: #4fc452;
}
button.next-page {
    width: 100%;
    border: unset;
    padding: 6px 0;
    border-radius: 30px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

div#exampleModa2 {
    background: #c4c4c491;
}

.modal-dialog {
    margin: 15% auto;
}
/* *************** questionaire ************************* */
/* **************************************************** */
.subment-btn-nxt input.btn-next.n-one-tabe {
    background: linear-gradient(94deg, #0E4C75, #0079CB);
    box-shadow: 0px 0px 10px #0079CB3B;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    margin: 0 5px;
    border: unset;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}
/* ******************* */
.card1,.card2,.card3,.card4 {
    display: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #777;
 }

  .d-active {
    display: block;
 }
 /* **************** */
.tabes-qusetions {
    display: none;
}

.tabes-qusetions.active {
    display: block;
}

.the-answer textarea ,.the-answer input[type="textarea"]{
    width: 100%;
    margin: 10px 0 !important;
    display: block;
}
.the-answer input[type="textarea"]{

    margin: 10px 0 !important;
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid  #CBCBCB;
}
.the-answer span {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

/* ************************************* */
input:is([type="radio"]) {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid grey;
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
}

input:is([type="radio"]):focus {
    outline: unset;
    outline-offset: unset;
}

input:is([type="radio"]):checked {
    background: url("../../imgs/check.png"), #4FAC3A;
    background-repeat: no-repeat;
    border: 1px solid #4FAC3A;
}

input:is([type="radio"]) {
    border-radius: 50%;
}

/* notes section end */
@media only screen and (max-width: 1200px) {
    .course_content_right_sections {
        flex-wrap: wrap;
    }

    .course_content_right_sections .course_content_study_section {
        display: none;
    }

    .course_content_right_sections_on_small_screen {
        display: block;
    }

    .course_content_right_sections_on_small_screen a {
        color: #000;
        margin-bottom: 30px !important;
    }

    .course_content_right_sections_on_small_screen .lecture_list_item_condition {
        width: fit-content;
    }

    .course_content_right_sections_on_small_screen .video_thumbnail_container {
        width: 250px;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .course_content_right_sections_on_small_screen .video_thumbnail_container .video_thumbnail {
        height: 75px;
        width: 75px;
        background-color: #fff;
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .course_content_right_sections_on_small_screen .video_thumbnail_container p {
        padding: 0 10px;
        margin: 0;
        width: 60%;
        height: 1.9em;
        word-break: break-all;
        overflow: hidden;
        display: flex;
        /* align-items: center; */
        text-overflow: ellipsis;
    }

    .course_content_right_sections_on_small_screen a,
    .course_content_right_sections_on_small_screen a,
    .course_content_right_sections_on_small_screen button,
    .course_content_right_sections_on_small_screen button {
        background-color: unset !important;
    }

    .course_title {
        font-size: 20px;
    }

    .on_large_screen {
        display: none !important;
    }

    .small_screen_course_content_header {
        display: block;
    }

    .small_screen_course_content_header .progress_bar_top_info {
        display: flex;
        flex-direction: row;
    }

    .small_screen_course_content_header .progress_bar_top_info .questionaire_button {
        padding-top: 0;
        flex-grow: 1;
        text-align: end;
    }

    .small_screen_course_content_header .progress_line_parent {
        display: flex;
        flex-direction: column;
    }

    .small_screen_course_content_header .progress_line_parent .lecture_progress_bar {
        margin-bottom: 20px;
        width: 100%;
    }

    .course_content_right_sections_on_small_screen a.active .lecture_list_item_condition .video_thumbnail_container>p {
        font-weight: 900;
        color: #000;
    }

    .course_content_right_sections .lecture_list_item_condition.completed .video_thumbnail_container>p {
        color: #777;
    }

    .course_content_right_sections_on_small_screen .lecture_list_item_condition.not-opened .video_thumbnail_container>p,
    .course_content_right_sections_on_small_screen .lecture_list_item_condition.not-completed .video_thumbnail_container>p {
        font-weight: bold;
    }

    .course_content_right_sections_on_small_screen a.active .lecture_list_item_condition .video_thumbnail_container::before {
        content: '';
        position: absolute;
        border: solid 3px #87BD31;
        width: 90px;
        height: 90px;
        top: 5px;
        right: 13px;
        border-radius: 10px;
    }

    .ltr .course_content_right_sections_on_small_screen a.active .lecture_list_item_condition .video_thumbnail_container::before {
        right: unset;
        left: 13px;
    }

    .submit-content-container .submit-content {
        font-size: 15px !important;
    }

    .course_content_left_sections {
        margin-top: 25px;
    }

    .course_content_right_sections_on_small_screen a.disabled {
        opacity: 0.3;
    }

    .course_content_right_sections_on_small_screen a.list-group-item.disabled,
    .list-group-item:disabled {
        color: #6c757d;
        background-color: #fff;
    }

    /* .course_content_right_sections_on_small_screen .owl-stage{ */
    /* float: none; */
    /* width: max-content !important; */
    /* } */
    /* .course_content_right_sections_on_small_screen .owl-item{ */
    /* float: none; */
    /* width: auto !important;
    } */

    .course_content_right_sections_on_small_screen .owl-nav {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {
    .course_content_right_sections_on_small_screen {
        display: none !important;
    }

    .small_screen_course_content_header {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    .modal-dialog{
margin: 35% auto;
    }
}
/* .accordion-btn .collapse.in {
    display: none;
}

.accordion-btn.active .collapse.in {
    display: block;
} */
