section.login-page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 9999;
}

.log-layer {
    position: fixed;
    width: 100%;
    z-index: 0;
    opacity: 0.7;
    filter: blur(8px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.log-layer img {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
}

.log-in-form {
    position: relative;
    z-index: 9;
}

.login-main.main-body {
    width: 25%;
    margin: 5rem auto;
    padding: 40px 30px;
    border-radius: 24px;
    box-shadow: 0px 1px 2px #bcbcbca6;
    margin-bottom: 0;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    background: #fff;
}

.close-form {
    display: flex;
    justify-content: end;
}

.login-main.main-body.register-page {
    margin: 2rem auto;
    padding: 20px 30px;
}
.img-popup {
    width: 132px;
    height: 147px;
    margin: 0 auto;
}

.img-popup img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.login-main.main-body strong {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.login-main.main-body p {
    font-size: 12px;
    color: #00000099;
    text-align: center;
}

.login-main.main-body b {
    display: block;
    width: 100%;
    height: 2px;
    background: #E4E4E4;
    margin: 10px 0;
    border-radius: 10px;
}

button.next-page {
    width: 100%;
    border: unset;
    padding: 6px 0;
    border-radius: 30px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}
button.next-page.successful-btn {
    background: #4fc452;
}
button.next-page.warning-btn {
    background: #ffa700;
}
button.next-page.error-btn {
    background: #e5513e;
}
button.next-page.reminder-btn {
    background: #6a8deb;
}
.close-form a {
    color: #000;
}
/* ************************* media screen */
 @media only screen and (max-width: 1024px) and (min-width: 601px){
    .login-main.main-body {
        width: 80%;
    } 
  }
  @media only screen and (max-width: 600px) {
    .login-main.main-body {
        width: 95%;
    } 
  }
